<div class="d-flex justify-content-center m-4">
  <div class="text-center">
  <h1>Welcome to file uploading</h1>
  
  <%=button_to "Upload a File",show_upload_path,method: :get,class:"btn btn-primary " %>

  <h2>OR</h2>

  <%=button_to "Go to Menu Page",menu_path,method: :get,class:"btn btn-primary " %>


</div>
</div>
 